# .env
DB_HOST=localhost
DB_PORT=5432
DB_NAME=deliverycommerce
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
REDIS_HOST=localhost
REDIS_PORT=6379
COMPOSE_FILE=docker-compose.yml
SPRING_PROFILES_ACTIVE=local
GOOGLE_API_KEY=

# clone 후 .env.example을 복사해 .env파일을 루트 디렉토리에 생성 후 값 입력
# 비어있는 값은 slack을 통해 공유하니 참고 바랍니다.